<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Табель пользователей</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        body {
            color: #566787;
            background: lightseagreen;
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
        }
        .table-responsive {
            margin: 30px 0;
        }
        .table-wrapper {
            min-width: 1000px;
            background: #fff;
            padding: 20px 25px;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
        .table-title {
            padding-bottom: 15px;
            background: darkblue;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }
        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }
        .table-title .btn {
            color: #566787;
            float: right;
            font-size: 13px;
            background: #fff;
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }
        .table-title .btn:hover, .table-title .btn:focus {
            color: #566787;
            background: #f2f2f2;
        }
        .table-title .btn i {
            float: left;
            font-size: 21px;
            margin-right: 5px;
        }
        .table-title .btn span {
            float: left;
            margin-top: 2px;
        }
        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
            padding: 12px 15px;
            vertical-align: middle;
        }
        table.table tr th:first-child {
            width: 60px;
        }
        table.table tr th:last-child {
            width: 100px;
        }
        table.table-striped tbody tr:nth-of-type(odd) {
            background-color: #fcfcfc;
        }
        table.table-striped.table-hover tbody tr:hover {
            background: #f5f5f5;
        }
        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }	
        table.table td:last-child i {
            opacity: 0.9;
            font-size: 22px;
            margin: 0 5px;
        }
        table.table td a {
            font-weight: bold;
            color: #566787;
            display: inline-block;
            text-decoration: none;
        }
        table.table td a:hover {
            color: #2196F3;
        }
        table.table td a.settings {
            color: #2196F3;
        }
        table.table td a.delete {
            color: #F44336;
        }
        table.table td i {
            font-size: 19px;
        }
        table.table .avatar {
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
        }
        .status {
            font-size: 30px;
            margin: 2px 2px 0 0;
            display: inline-block;
            vertical-align: middle;
            line-height: 10px;
        }
        .text-success {
            color: #10c469;
        }
        .text-info {
            color: #62c9e8;
        }
        .text-warning {
            color: #FFC107;
        }
        .text-danger {
            color: #ff5b5b;
        }
        .hint-text {
            float: left;
            margin-top: 10px;
            font-size: 13px;
        }
        .register {
            font-size: 1em;
            color: black;
            text-align: center;
            margin: 10px 0 0;
        }

        .register a {
            position: relative;
            font-size: 17px;
            color: black;
            text-decoration: none;
            font-weight: 600;
            margin-right: 40px;
            margin-left: 40px;
        }

        .register a::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 100%;
            height: 2px;
            background: black;
            border-radius: 5px;
            transform: translateY(10px);
            transition: .5s;
            opacity: 0;
        }

        .register a:hover::after {
            transform: translateY(0);
            opacity: 1;
        }
    </style>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>

<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Просмотр пользователей</h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="/admin/new-lecturer" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Создать профиль преподавателя</span></a>
                            <a href="/admin/export-users" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Выгрузка данных</span></a>						
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ФИО</th>
                            <th>Группа</th>
                            <th>Почта</th>
                            <th>Статус</th>
                            <th>Роль</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                            if (users.length > 0) {
                                for (let i = 0; i < users.length; i++) {
                                    %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td>
                                            <%
                                            if (users[i].image == null) {
                                                %>
                                                    <a><img src="userImages/default.jpg" class="avatar" alt="Avatar" width="65px"> <%= users[i].surname %> <%= users[i].name %> <%= users[i].patronim %></a>
                                                <%
                                            } else {
                                                %>
                                                    <a><img src="/userImages/<%= users[i].image %>" class="avatar" alt="Avatar" width="65px"> <%= users[i].surname %> <%= users[i].name %> <%= users[i].patronim %></a>
                                                <%
                                            }
                                            %>
                                        </td>
                                        <td><%= users[i].group_name %></td>
                                        <td><%= users[i].email %></td>
                                        <td>
                                            <%
                                            if (users[i].is_verified == 0) {
                                                %>
                                                    <span class="status text-danger">&bull;</span> Не подтверждён 
                                                <%
                                            } else {
                                                %>
                                                    <span class="status text-success">&bull;</span> Подтверждён
                                                <%
                                            }
                                            %>
                                        </td>
                                        <td>
                                            <%
                                            if (users[i].is_lecturer == 0) {
                                                %>
                                                Студент
                                                <%
                                            } else {
                                                %>
                                                Преподаватель
                                                <%
                                            }
                                            %>
                                        </td>
                                        <td>
                                            <a href="/admin/edit-user?id=<%= users[i]._id %>" class="settings" title="Изменить" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                            <a href="/admin/delete-user?id=<%= users[i]._id %>" class="delete" title="Удалить" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                                        </td>
                                    </tr>
                                    <%
                                }
                            } else {
                                %>
                                <tr>
                                    <td colspan="7" style="text-align:center;">Пользователей нет в базе</td>
                                </tr>
                                <%
                            }
                        %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="register">
        <a href="/admin/home">Вернуться обратно</a>
        <br><br>
    </div>
</body>
</html>