<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница | Студент</title>
    <link rel="stylesheet" href="/css_files/style_home_student.css">
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class='bx bx-home'></i>
                        Главная страница
                    </a>
                    
                </li>
                <li>
                    <a href="/watch_test">
                        <i class='bx bx-list-ul'></i>
                        Тестироваться
                    </a>
                </li>
                <li>
                    <a href="/edit?id=<%= user._id %>">
                        <i class='bx bx-edit'></i>
                        Редактировать
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class='bx bx-log-out'></i>
                        Выйти
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <h2>Главная страница</h2>
            <h3>Добро пожаловать, <%= user.name %></h3>
            <% if (user.image != null) { %>
                <img src="userImages/<%= photo %>" alt="<%= photo %>">
            <% } else { %>
                <img src="userImages/default.jpg" alt="default.jpg">
            <% } %>

            <div class="form-box">
                <table width="100%">
                    <tr>
                        <td>Почта</td>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <td>Учебная группа</td>
                        <td><%= user.group_name %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
