<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница | Преподаватель</title>
    <link rel="stylesheet" href="/css_files/style_home_student.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <div class="form-box">
            <h2>Преподаватель</h2>
            <% if (user.image != null){ %>
                <% photo = user.image; %>
            <% } else { %>
                <% photo = "default.jpg"; %>
            <% } %>
            <img src="userImages/<%= photo %>" width="150" height="150" alt="<%= user.image %>">
            <h3>Добро пожаловать, <%= user.name %></h3>
            <p>Почта: <%= user.email %></p>
            <a href="/edit_lecturer?id=<%= user._id %>" class="btn">Редактировать</a>
            <a href="/test_status" class="btn">Просмотреть все тесты</a>
            <a href="/ChangeTest" class="btn">Создать тест</a>
            <a href="/Results" class="btn">Результаты</a>
            <a href="/logout_lec" class="btn">Выйти</a>
        </div>
    </div>
</body>

</html>